<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <div>
  <body>
    <a href="#0.1_">My Portfolio</a>
  <button type="button">
    <span></span>
  </button>
  <div>
    <ul>
      <li>
        <a href="#0.1_">Home <span>(current)</span></a>
      </li>

      <li>
        <a href="#0.1_project">Professional Experience</a>
      </li>

      <li>
        <a href="#0.1_academicdetails">Education</a>
      </li>

      <li>
        <a href="#0.1_skills">Skills</a>
      </li>

      <li>
        <a href="#0.1_certs">My Certfications</a>
      </li>

      <li>
        <a href="#0.1_project">My Projects</a>
      </li>
    </ul>
  </div>

<hr>
<div>
  <img src="http://762.jpg" alt="...">
  <div>
    <h4>NADELLA SITA RAMA PAVANI <span>B.Tech Mechanical Graduate</span></h4>
    <p>Contact no : +91 90632 227214.</p>
    <p>Email id : <a href="mailto:pavaninadella97@gmail.com" target="_blank">pavaninadella97@gmail.com</a></p>



    <h6>Career Objective </h6>
    <p>To be given an opportunity to exhibit my Quality Associate skills and use my knowledge to
contribute to the growth of the company.</p>
  </div>
</div>
<hr>
<div>
  <u>
  <h3>Academic Details </h3>
</u>
<table>
  <thead>
    <tr>
      <th scope="col"> Qualification </th>
      <th scope="col"> College/School </th>
      <th scope="col"> CGPA </th>
      <th scope="col"> Passing Year </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">B.Ttech Mechanical</th>
      <td>ST.Peter's Engineering College</td>
      <td>89%</td>
      <td>2018</td>
    </tr>
    <tr>
      <th scope="row">Intermediate</th>
      <td>Sri Gayatri Junior College</td>
      <td>94</td>
      <td>2014</td>
    </tr>
    <tr>
      <th scope="row">SSC</th>
      <td>Krishnaveni Talent School</td>
      <td>9.2</td>
      <td>2012</td>
    </tr>
  </tbody>
</table>
</div>
<hr>
<div>

<u>
  <h4>Technical Skills </h4>
</u>
<div style="width:80rem">
<ol>
  <li>Auto-Cad</li>
  <li>Catia</li>
  <li>Pro-E</li>
  <li>Ansys</li>
  <li>Hypermesh</li>
  <li>Python</li>
  <li>C</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>Experienced in required Data Analysis, Development, Testing and Implementation using Finite Element Methods,
Production and Manufacturing Units.</li>

</ol>
</div>
</div>
<hr>
<u>
  <div>
<h4> My Certfications </h4>
</div></u>
<div>
  <div>
    <div>
      <div>
        <h5> Music </h5>
        <p>Musical Trainer</p>
        <p>Took part in Musical Competition for SPECFIESTA’15.</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <h5> Competetive Exam </h5>
        <p>Participated in National Level Science Exhibition and scored 2nd Position.</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <h5> Clubs </h5>
        <p>Served as a Member of the District Rotary Club & JCI Club.</p>
      </div>
    </div>
  </div>
</div>
</div>

<hr>
<u>
  <h4>Project Details</h4>
</u>
<div>
<div>
  <a href="#0.1_">
    <div>
      <h5>Computational Fluid Dynamics</h5>
    </div>
    <p>CFD Measurements Of The Cooling Air in A Dc-Motor.</p>
  </a>
  <a href="#0.1_">
    <div>
      <h5>Automated Processes</h5>
    </div>
    <p>Design of an End Effector for Radial Drilling in Automated Processes.</p>
  </a>
  <a href="#0.1_">
    <div>
      <h5>Designing</h5>
    </div>
    <p>Concept Design Of An Ultra-Light Industrial Robot.</p>
  </a>
  <a href="#0.1_">
    <div>
      <h5>Environment Strategy</h5>
    </div>
    <p>Assessment of Pollution Levels Resulting from Biomass Gasification.</p>
  </a>
</div>
</div>
</div>
  </body>
</html>
