
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

<style>
body
{
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

p
{
 font-size: 14px;
}

.top-container
{
 background-color: #f1f1f1;
 padding: 30px;
 text-align: center;
}

.header
{
 padding: 1px 16px;
 background: #555;
 color: #f1f1f1;
}

.sticky
{
 position: fixed;
 top: 0;
 width: 100%;
}

.sticky + .content
{
 padding-top: 102px;
}
.footer
{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color:#555 ;
 color: #f1f1f1;
 text-align: center;
}

</style>
</head>

<body>
<div class = "header" id = "myHeader">
</a>
<ul class = "nav nav -pills">
<li class = "nav-item">
  <a class = "nav-link active"   href="#Home"><strong> Home </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Professional Experience"><strong> Professional Experience </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Career Spotlights"><strong> Career Spotlights </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Academic Details"><strong> Academic Details </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Technical Skills"><strong> Technical Skills </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Certfications"><strong> Certfications </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Projects"><strong> Projects </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Workshops"><strong> Workshops </strong></a></li>
<li class = "nav-item">
  <a class = "nav-link active" href="#Other Information"><strong> Other Information </strong></a></li>
</ul>
</div>

<div class="p-3 mb-2 bg-info text-dark">
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
<div class="jumbotron" id = "About">
<img img class = "img-fluid img-profile rounded-circle mx-auto mb-2" width = "60" height = "60"  src="./static/762.jpg" class = "img-responsive" style = "width : 10%" alt = "PAVANI NADELLA">
<h4 style="color:purple;" id="About"> About </h4>
<h4><strong> NADELLA SITA RAMA PAVANI </strong></h4>
<p class="text-danger"><strong> B.Tech - Mechanical Graduate </strong></p>
<p class="text-success"><strong> Contact no : +91 90632 227214 </strong></p>
<p class="text-dark"><strong> DATE OF BIRTH: 19-03-1997 </strong></p>
<p class="text-warning bg-dark"><strong> EMAIL I'D : <a href = "mailto:pavaninadella97@gmail.com" target = "_blank"> pavaninadella97@gmail.com </strong></a></p>
<p class="text-warning bg-dark"><strong> GITHUB: <a href = "https://github.com/PAVANINADELLA" target = "_blank"> https://github.com/PAVANINADELLA </strong></a></p>
<p class="text-warning bg-dark"><strong> LINKEDIN: <a href = "https://www.linkedin.com/in/nadella-sita-rama-pavani-738528b1/" target = "_blank"> https://www.linkedin.com/in/nadella-sita-rama-pavani-738528b1/ </strong></a></p>
<p class="text-warning bg-dark"><strong> FACEBOOK: <a href = "https://www.facebook.com/nadella.pavani.5/" target = "_blank"> https://www.facebook.com/nadella.pavani.5/ </strong></a></p>
<p class="text-warning bg-dark"><strong> INSTAGRAM: <a href = "https://www.instagram.com/pavani_nadella/" target = "_blank"> https://www.instagram.com/pavani_nadella/ </strong></a></p>
<p class="text-warning bg-dark"><strong> TWITTER: <a href = "https://twitter.com/pavaninadella97" target = "_blank"> https://twitter.com/pavaninadella97 </strong></a></p>
 I'm B.Tech (Mechanical) graduate with excellent academic performance and also developed knowledge & skillset in my core domain and also looking for an opportunity to exhibit my Quality Associate skills and use my knowledge to contribute to the growth of the company.
</div>

<hr>
<u>
<div class = "jumbotron" id = "Professional Experience">
<h4 id = "Professional Experience"><strong> Professional Experience </strong></h4>
</u>

<h4 style="color:purple;"> Wipro: </h4>
<p style="color:green;" id="job-title"><strong> Quality Analyst Associate for Google Adwords Process(Technical Support) </strong></p>
<p style="color:orange;" id="job-responsibilities"><strong> Job Responsbilities: </strong></p>
<p>
<ul>
<li> Ads Reviewer for Google AdWords based on the client policies in taking appropriate decisions. </li>
<li> Interact with our engineering team to get software issues and bugs resolved. </li>
<li> Adapting to the new policy changes and workflows for better performance and readiness for changes. </li>
<li> Provide training/coaching to the team members basis requirement of analysis and key inputs given by the training team and QA team. </li>
<li> Key player in improving aligned team and Process Quality Performance. </li>
<li> Occasionally interact with customers over Skype and Contribute ideas to the team on how customers can be delighted </li>
</ul>
</p>

<h4 style="color:purple;"> Vezlys Solutions Private Limited: </h4>
<p style="color:green;" id="job-title"><strong> Technical Support Representative </strong></p>
<p style="color:orange;" id="job-responsibilities"><strong> Job Responsbilities: </strong></p>
<p>
<li> We take the remote control of the device and look into the issue of the BLUE SCREEN & BLACK SCREEN errors. </li>
<li> Then we fix the bug and resolve the issue. </li>
</p>
</div>
</hr>

<hr>
<u>
<div class = "jumbotron" id = "Career Spotlights">
<h4 id = "Career Spotlights"><strong> Career Spotlights </strong></h4>
</u>
<li> Consistently acquired the best Reviewer rating on the floor. </li>
<li> Worked on all the formats in Google AdWords. </li>
<li> For Media and Entertainment ads, Pilot project for Video and NAF Process. </li>
</div>
</hr>


<u>
<div class = "jumbotron" id = "Academic Details">
<h4 id = "Academic Details"><strong> Academic Details </strong></h4>
</u>
<table class="table">
<thead class="thead-Danger">
<tr class="table-danger">
    <th scope="col"> Qualification </th>
    <th scope="col"> College/School </th>
    <th scope="col"> Year of Passing</th>
</tr>
</thead>

<tbody>
<tr class="table-danger">
    <th scope="row"> B.Tech (MECH) </th>
    <td> ST.Peter's Engineering College </td>
    <td> 2018 </td>
</tr>

<tr class="table-danger">
    <th scope="row"> Board of Intermediate (MPC) </th>
    <td> Sri Gayatri Junior College </td>
    <td> 2014 </td>
</tr>

<tr class="table-danger">
    <th scope="row"> SSC </th>
    <td> Krishnaveni Talent School </td>
    <td> 2012 </td>
</tr>
</tbody>
</table>
</div>

<hr>
<u>
<div class = "jumbotron" id = "Technical skills">
<h4 id = "Technical Skills"><strong> Technical Skills </strong></h4>
</u>
<ol>
<li> Auto-Cad </li>
<li> Catia </li>
<li> Pro-E </li>
<li> Ansys </li>
<li> Hypermesh </li>
<li> Python </li>
<li> C </li>
<li> Java </li>
<li> HTML </li>
<li> CSS </li>
<li> Data Science (Machine Learning & Artificial Intelligence) </li>
<li> Experienced in required Data Analysis, Development, Testing and Implementation by Finite Element Methods, Production and Manufacturing Units. </li>
</ol>
</div>
</div>
</hr>


<hr>
<u>
<div class="jumbotron" id="Certifications">
<h4 id = "Certfications"><strong> Certfications </strong></h4>
</u>
<div>
<h5> Music </h5>
<p class="text-light bg-dark"> Musical Trainer & Took part in Musical Competition at SPECFIESTA’15. </p>
</div>
</hr>

<hr>
<div>
<h5> Competetive Exam </h5>
<p class="text-light bg-dark"> Participated in National Level Science Exhibition and scored 2nd Position. </p>
</div>
</hr>

<hr>
<div>
<h5> Clubs </h5>
<p class="text-light bg-dark"> Served as a Member of the District Rotary Club & JCI Club. </p>
</div>
</hr>
</ul>
</div>
</hr>

<hr>
<u>
<div class ="jumbotron" id = "Projects">
<h4 id = "Projects"><strong> Projects </strong></h4>
</u>

<div>
<h5> Internship: "Local Control Panels (LCP)" </h5>
<p class="text-warning bg-dark"> Production and Manufacturing of contol panel with the required parameters at ECIL. </p>
</div>

<div>
<h5> Project - I: Computational Fluid Dynamics </h5>
<p class="text-warning bg-dark"> CFD Measurements Of The Cooling Air in A Dc-Motor. </p>
</div>

<div>
<h5> Project - II: Automated Processes </h5>
<p class="text-warning bg-dark"> Design of an End Effector for Radial Drilling in Automated Processes. </p>
</div>

<div>
<h5> Project - III: Designing </h5>
<p class="text-warning bg-dark"> Concept Design Of An Ultra-Light Industrial Robot. </p>
</div>

<div>
<h5>Project - IV: Environment Strategy </h5>
<p class="text-warning bg-dark"> Assessment of Pollution Levels Resulting from Biomass Gasification. </p>
</div>
</hr>

<hr>
<u>
<div class ="jumbotron" id = "Workshops">
<h4 id = "Workshops"><strong> Workshops </strong></h4>
</u>
<p>
<li> Actively Participated in a “Fastrack Assembly & Disassembly Workshop” for 2 days conducted by Ezenith and Winner of the Workshop. </li>
<li> Actively Participated in a one-day National Workshop on “Industrial Tribology & Vibrations” by SAEINDIA. </li>
<li> Actively Participated in a two-day National Workshop on “Non-Destructive Testing Methods”. </li>
</p>
</div>
<hr>

<hr>
<u>
<div class ="jumbotron" id = "Other Information">
<h4 id = "Other Information"><strong> Other Information </strong></h4>
</u>
<div>
<p>
<ul>
<li><strong> Expected Salary: </strong> As per company standards. </li>
<li><strong> Area of Interest:</strong> Quality Analyst, Testing, Software Development, Programming, Start-ups, Coding, App Development, Technical Support, Support Engineer, Client service. </li>
</ul>
</p>
</div>
</div>
</hr>

<hr>
<div>
<u>
<h4><strong> Declaration </strong></h4>
</u>
<p> I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief. </p>
</div>
</hr>

<div id= "footer" >
</div>
</div>
</body>
</html>
